@media screen and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }
    main, aside{
        width: 100%;
    }
    main{
        height: 60vh;
    }
    aside, header, footer{
        height: 10vh;
    }
    section{
        width: 100%;
        display: block;
        height: 10vh;
        background-color: #4B4864;
    }
    header p::after{
        content: "mobile";
    }

}