body {
    background-image: url(https://th.bing.com/th/id/R.a3eb0241eac6be08de150bdb088a781d?rik=oV0%2fmC6zWmYutg&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
h1  {
    font-size: 40px;
    margin: 40px;
    background-color: rgba(169, 169, 169, 0.64);
    padding: 5px;
}
h2 {
    font-size: 25px;
    background-color: rgba(169, 169, 169, 0.64);
    width: 400px;
    height: 370px;
    margin-left: 40px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;

}

img {
    display: inline-block;
    vertical-align: top;

}

p {
    font-size: 20px;
    margin: 40px;
    background-color: rgba(169, 169, 169, 0.64);
    padding: 10px;
}
h3 {
    margin-left: 40px;
    background-color: rgba(169, 169, 169, 0.64);
    width: 300px;
    height: 280px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;

}