body {
    background-color: #3f675e;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px 0;
}

.month {

    width: 200px;
    height: 160px;
    background-color: #bbe8de;
    border-radius: 5px;
    padding: 10px;
    transition: 1.5s;
}
.month:hover{
    width: 220px;
    height: 180px;
    transition: 1.5s;
}

.month h2 {
    color: rgba(0, 0, 0, 0.82);
    font-size: 15px;

}

.info {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
}
.info p sup{
    font-size: 8px;
}